# Mutable values
USERS_DB=
USERS_DB_USER=
USERS_DB_PASSWORD=

STORAGE_DB=
STORAGE_DB_USER=
STORAGE_DB_PASSWORD=

TOKEN_DB=
TOKEN_DB_USER=
TOKEN_DB_PASSWORD=

GAME_DB=
GAME_DB_USER=
GAME_DB_PASSWORD=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
TOKEN_ACC_EXP=

REDIS_SECRET=

# Seeding test users
T1_UUID=
T2_UUID=
T3_UUID=
T4_UUID=

# Immutable values
ENCRYPTION_ALGO=
PORT_DB=
PORT_MINIO_INT=
PORT_MINIO_GUI=
MINIO_PUBLIC_URL=
PORT_STORAGE=
PORT_USERS=
PORT_BFF=
PORT_MS_TOKEN=
PORT_USERS=
REDIS_URL=